spring.data.mongodb.uri=
spring.jackson.serialization.indent_output=
spring.security.oauth2.resourceserver.jwt.issuer-uri=
spring.security.oauth2.resourceserver.jwt.jwk-set-uri=
spring.security.oauth2.resourceserver.jwt.audience=

